# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.gradle/6.0.1/fileHashes/fileHashes.bin
.gradle/6.0.1/fileHashes/fileHashes.bin
.gradle/6.0.1/fileHashes/fileHashes.lock
*.lock
.gradle/6.0.1/fileHashes/fileHashes.bin
.vscode/c_cpp_properties.json
vendordeps/WPILibNewCommands.json
vendordeps/WPILibNewCommands.json
vendordeps/WPILibNewCommands.json
.vscode/c_cpp_properties.json
vendordeps/WPILibNewCommands.json
*.json
